{
  "printWidth": 100,
  "singleQuote": true,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "off",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
